__pycache__/
# Zárd ki a .pth fájlokat globálisan...
*.pth
# ... KIVÉVE, ha a models/2max/ mappában vannak
!models/2max/*.pth
!models/2max/**/*.pth

logs/
runs/
screenshots/
ModellNaplo/

models/*
!models/2max/

# SQLite ellenfél adatbázis
players.db
players.db-wal
players.db-shm
*.db
*.db-wal
*.db-shm